.slidebar.closed {
    margin-right: -308px !important;
	min-height: 0 !important;
}

h1 {
	margin-top: 0 !important;
}

#page-wrapper {
    margin-top: 120px !important;
}

.slidebar .slidebar-header {
	margin-top: 78px;
}